@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #0d0d0d;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


.up{
    animation: up 1s  forwards ease-in-out;
}
.down{
    animation: down 1s  forwards ease-in-out;
}


@keyframes up {
    0% {
        height: 100%;
    }
    100% {
        height: 0;
    }
}
@keyframes down {
    0% {
        height: 100%;
    }
    100% {
        height: 0;
    }
}


.fontcange{
  font-family:'Times New Roman', Times, serif
}